body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#adb5bd ;
}
button{
    margin-top: 25px;
}

.modal{
    background-color: #e9ecef;
    width: 480px;
    height: 210px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    
} 
.fundo{
    background-color: rgba(0, 0, 0,0.4);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
h1{
    color: black;
    display: flex;
    justify-content:  center;
    font-size: 25px;
}
.fundo .modal{
    background-color: #d3d3d3;
    margin: 15%;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 350px;

}


